* {
    font-family: myFirstFont;
    padding: 0;
    margin: 0;
    color: #EEF0F2;
}
p{
    line-height:26px;
}
.textBackground {
    background-color: rgb(43 39 37 / 0.22);
    border-radius: 5px; 
    padding: 10px;
    margin: 5px
}
body {
    background-color: #141414;
    padding: 0;
    margin: 0;
    height: 100%;
}
#header-container {
    position: relative;
    min-height: 800px;
    background-image: url('untitled.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    background-size: cover;
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 10vh auto;
    padding: 0px 0px;
    width: 800px;
    text-size-adjust: auto;


}
.contentBox {
    display: normal;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1200px;
    padding: 0px;
}
.featured {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    padding: 0px;
}
.subHead {
    margin: 10vh;
    margin-bottom: 2vh;
    text-align: center;
    min-width: 1000px;
}
h2{
    margin: 100px auto;

    font-size: 40px;
    max-width: 600px;
    position: relative;
}
    h2:after, h2:before {
        content: " ";
        width: 150px;
        height: 4px;
        top: -10px;
        align-content: space-around;
        background: #b83b3b;
        display: inline-block;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }
.subsubHead {
    margin: 10px auto;
    text-align: left;
    font-size: 18px;
    max-width: 600px;
    position: relative;
}

.subsubHead:after {
        content: " ";
        width: 150px;
        height: 4px;
        top: -4px;
        align-content: space-around;
        background: #b83b3b;
        display: inline-block;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }

nav {

    text-align: center;
    padding: 0;
    margin: 0;
}
#navBarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#navBarStyle {
    display: inline-block;
    text-align: center;
}

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        color: #EEF0F2;
        text-decoration: none;
        float: none;
        background: #b83b3b;
        background-blend-mode: saturation;
    }

        li a:hover:not(.active) {
            color: #45a29e;
        }

.active {
    color: #45a29e;
}

navbar {
    text-align: center;
}
h1{
    color: white;
}
hr {
    display: block;
    margin-top: 0;

    border-style: dashed;
    border-block-color: #b83b3b;
    border-width: 8px;
    background: #b83b3b;
}
#page-container {
    position: relative;
    min-height: 100%;
    min-width:100vw;
}

#content-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {

    padding-bottom: 2.5rem; /* Footer height */
}

section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top:3%;

    text-align: justify;
    text-justify: inter-word;
   }
#container {
    width: 200px;
    height: 400px;
    width: 100%;
}
#small {
    width: 40%;
    float: left;
    height: 300px;
    margin: 20px;
}
#large {
    width: 50%;
    float: right;
    height: 300px;

}

#aboutMeContent {
    padding: 5%;
    text-align: left;
}

#box {
    border-radius: 5px;
    background: rgb(256, 256, 256, 0.9);
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: auto;
    width: 50%;
}


footer {
    color: #011638;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}


h1{
    font-size: 72pt;
}

@font-face {
    font-family: myFirstFont;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: myFirstFont;
    src: url(Roboto-Bold.ttf);
    font-weight: bold;
}
