* {
    font-family: myFirstFont;
    padding: 0;
    margin: 0;
    color: #EEF0F2;
}
body {
    background-color: #141414;
    padding: 0;
    margin: 0;
    height: 100%;
}
.test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    padding: 0px;
}
.aboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    padding: 0px;
}
header {
    text-align: center;
    align-items: center;
    background-color: #eec643;
    background-image: url('untitled.png');
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {

    text-align: center;
    padding: 0;
    margin: 0;
}
#navBarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#navBarStyle {
    display: inline-block;
    text-align: center;
}

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        color: #EEF0F2;
        text-decoration: none;
        float: none;
        background-color: rgba(0, 0, 0, 0.2);
        background-blend-mode: saturation;
    }

        li a:hover:not(.active) {
            color: #45a29e;
        }

.active {
    color: #45a29e;
}


navbar {
    text-align: center;
}
h1{
    color: white;
}
hr {
    display: block;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 0.5em;
    border-style: inset;
    border-block-color: rgba(255, 255, 255, 0.8);
    border-width: 1px;
}
#page-container {
    position: relative;
    min-height: 100%;
}
#header-container {
    position: relative;
    min-height: 100vh;
}
#content-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {

    padding-bottom: 2.5rem; /* Footer height */
}

section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top:3%;

    text-align: justify;
    text-justify: inter-word;
   }
#container {

    width: 200px;
    height: 400px;

    width: 100%;
}
#first {
    width: 30%;
    float: left;
    height: 300px;


}
#second {
    width: 70%;
    float: left;
    height: 300px;

}
#aboutMeContent {
    padding: 5%;

    text-align: left;
}
#clear {
    clear: both;
}
#box {
    border-radius: 5px;
    background: rgb(256, 256, 256, 0.9);
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: auto;
    width: 50%;
}


footer {
    color: #011638;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}


h1{
    font-size: 72pt;
}

@font-face {
    font-family: myFirstFont;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: myFirstFont;
    src: url(Roboto-Bold.ttf);
    font-weight: bold;
}
